# Ignorar dependencias de Composer
/inc/kirki/
/vendor/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de editor
*.swp
*.swo
*~
.idea/
.vscode/

# Ignorar logs
*.log

# Ignorar archivos temporales
*.tmp
